/* Navbar */
.navbar-brand {
  color: #00adb5;
}

.toggle-container {
  display: flex;
  align-items: center;
}

.toggle-container span {
  margin-right: 10px;
  font-family: Arial, sans-serif;
}

.toggle {
  display: none;
}

.toggle-label {
  position: relative;
  width: 50px;
  height: 25px;
  background-color: #ccc;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.toggle-label::after {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 21px;
  height: 21px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.toggle:checked + .toggle-label {
  background-color: #5a67d8;
}

.toggle:checked + .toggle-label::after {
  transform: translateX(25px);
}

.cart-container {
  display: flex;
  align-items: center;
}

.cart-icon {
  width: 35px;
  height: 35px;
}

.cart-counter {
  font-size: 12px;
  padding: 5px 8px;
}

/* header */
.w-80 {
  width: 80%;
  margin-left: 10%;
}

.owner {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

/* carousel */
.carousel-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.carousel {
  width: 80%;
}

.carousel-item {
  height: 475px;
  position: relative;
}

.carousel-item img {
  height: 100%;
  object-fit: cover;
}

.carousel-caption {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0;
  color: #fff;
  text-align: center;
  padding: 10px;
  background: rgba(0, 0, 0, 0.5);
}

.carousel-control-prev,
.carousel-control-next {
  width: 5%;
  height: 50px;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent; /* Remove background color */
  border: none; /* Remove border */
  border-radius: 50%; /* Keep round shape */
  box-shadow: none; /* Remove any shadow */
  color: #fff; /* Arrow color */
}

.carousel-control-prev {
  left: -7%;
}

.carousel-control-next {
  right: -7%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: transparent;
  color: green;
}

.carousel-caption h5,
.carousel-caption p {
  color: #fff;
}

/* .carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #fff;
  border-radius: 50%;
  padding: 10px;
} */

/* Cards */
.btn-primary {
  background-color: #f5f5f5;
  color: #424242;
}

/* footer */

/* Header Video */
.video-container {
  position: relative;
  overflow: hidden;
}

.video-container video {
  width: 100%;
  height: auto;
}

.overlay-content {
  position: absolute;
  top: 15%;
  left: 5%;
  color: white;
  text-align: left;
}

.overlay-content h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.overlay-content p {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.overlay-content a {
  color: #fff;
  background-color: #007bff;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

@media (max-width: 767px) {
  .overlay-content h1 {
    font-size: 1.2rem;
  }

  .overlay-content p {
    font-size: 0.8rem;
  }
}
